<h1 style="text-align: center; border-bottom: 1px solid black;">Restaurante: SEDENA</h1>

<a href="/nueva">
    <button>Agrega Tu Comida Favorita</button>
</a>

<% if (comida.length > 0) { %>
    <div class="columns">
        <% let columns = 0; %>
        <% for (let comida of comida) { %>
            <% if (columns % 4 == 0) { %>
    </div>
    <div class="columns">
            <% } %>
            <% columns++; %>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="<%= comida.imagen %>" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="<%= comida.imagen %>" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4"><%= comida.comida %></p>
                                <p class="subtitle is-6">@<%= comida.nombre %></p>
                            </div>
                        </div>
                    
                        <div class="content">
                            <%= comida.descripcion %> <a><%= comida.handle %></a>.
                            <a href="#">#css</a> <a href="#">#responsive</a>
                            <br>
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
<% } else { %>
    <h1>No hay comidas registradas</h1>
<% } %>   